.page {
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: auto;
  margin: auto;
  gap: 0px;
  background-color: rgb(42, 44, 47);
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .page {
    max-width: 100%;
    height: 1742px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    max-width: 100%;
    min-height: 1705px;
  }
}
