.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(42, 44, 47);
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .page {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
  }
}

@media screen and (max-width: 320px) {
  .page {
    width: 100%;
    max-width: 320px;
    height: 100%;
    box-sizing: border-box;
  }
}
